#caja {
   width: 500px;
   height: 300px ;
   background-color: blue;
   
}
.caja {
    background-color: yellow;
    flex-direction: column;
    display: flex;
}
.dos { 
    width: 500px;
    height: 500;
    background-color: teal;
}