
.head
    {
        background-color: yellow;
        height: 300px;
    }
.grey {
    background-color: grey;
    height: 400px;
}
.end{
    background-color: white;
font-size: 20px;
padding-top: -50px;
text-align: center;
color: black;
}
.intro {
    background-color: white;
   padding: 50px;
   width: fit-content;
   border-color: black;
   margin-top: -450px;
   border-width: 20px;
   inline-size: 300px;
    position: relative;
    left: 560px;
   bottom: 8em;
   margin-bottom: 10px;
   align-items: baseline;
    border: 0.5px solid white;
    position: relative;
    height: 280px;
    padding-top: 10px;
    

}

.azul {
    background-color:rgb(0, 89, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
    width: 180px;
    

}
.blanco {
    background-color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: blue;
    width: 180px;


}